body {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #e6ffcc;
  position: relative;
}
h2 {
  margin-left: 35px;
  font-family: Handlee;
}
p {
  font-family: Handlee;
}
.all-font{
 font-family: Handlee;
}

#jumbotron-main {
  background-image: url("pictures/Puut.jpg");
}

#jumbotron-about {
  background-color: #f2ffe6;
  background-size: cover;
}

#jumbotron-portfolio
  background-color: #ffffe6;
  background-size: cover;
}

#jumbotron-contact {
  background-color: #fff2e6;
  background-size: cover;
}

#img-my-picture {
  width: 150px;
  height: auto;
}
.gap-right {
  margin-right: 100px; 
}
.lef-padding{
  padding: 20px;	
}

#col-contact{
  margin-left: 30px;
  margin-top: 15px;
}
.bottom-padding{
  padding-bottom: 20px;
}

.list-title{
  background-color: #fff2e6;

  
}





